<div class="credits">
  <ul>
    <li>Node</li>
    <li>Express</li>
    <li>EJS</li>
    <li>Love</li>
    <li><a target="_blank" rel="noopener noreferrer" href="https://www.zonayed.me">Zonayed Ahmed</a></li>
    <li><a target="_blank" rel="noopener noreferrer" href="https://www.github.com/zonayedpca/node-web-server">Source Code</a></li>
  </ul>
</div>
</div>
</div>
</body>
</html>
